<div>
    <!-- <app-navbar></app-navbar> -->
    <div class="content-wrapper">
        <div class="container">
            <div class="row">
                <div class="col">1</div>
                <div class="col">2</div>
                <div class="col ">3</div>
            </div>
        </div>
    </div>
</div>
-- <router-outlet></router-outlet> --