nav {
    position: fixed;
    overflow: hidden;
    left: 0;
    height: 100%;
    background-color: aquamarine;
    width: 70px;
    &:hover {
        width: 250px;
    }
    li {
        white-space: nowrap;
    }
}